<h1>Burgers, Baby!</h1>
<ul>
{{#each burger}}
<li>
  {{id}}:{{name}}
</li>
{{/each}}
</ul>

<form action="/burgers" method="post">
<input type="text" name="burger-name" />
<button type="submit">Order a Good burger!</button>
</form>